@font-face {
  font-family: "Seagram";
  src: url("resources/Seagram\ tfb.ttf");
}

body {
  margin: 0;
  background-color: hsl(0, 0%, 90%);
  font-size: 30px;
  font-family: "Seagram";
  font-weight: bold;
}

figure {
  margin: 0 0 1.5em 0;
}

h1 {
  width: 80vw;
  text-align: center;
}

p {
  text-shadow: 2px 1px #f5e93d;
  font-size: 40px;
}

/* White Anchor Arrows */

@media only screen and (max-width: 960px) {
  a {
    display: none;
  }
}

a {
  color: aliceblue;
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-variant: small-caps;
  text-decoration: none;
  top: 85vh;

}

@media only screen and (max-width: 960px) {
  #box1 .question {
    position:absolute;
    top: 3vh;
  }
}



.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
  transition: all .5s ease-in-out;
}

.card {
  top: 0;
  position: sticky;
  grid-column: full;
  scroll-snap-align: start;
}

#box0{ 
  background: #f5e93d;
}

#box1 {
  background: #064694;
}

#box2 {
  background: skyblue;
}

#box2 h2 {
  color: #f5e93d;
}

#box3 {
  background: #064694;
}

#box4 {
  background: skyblue;
}

#box4 h2 {
  color: #f5e93d;
}

#box5 {
  background: #064694;
}

#box6 {
  background: violet;
}

@media only screen and (max-width: 960px) {
  .question {
    font-size: 3vh;
    width: 85vw;
    margin-bottom: 3vh;
  }
}


h2 {
  color: aliceblue;
  text-align: center;
  text-shadow: 2px 2px black;
}

h3 {
  color: aliceblue;
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px black;
  line-height: 60px;
}

p {
  color: aliceblue;
}

/* Slider */

@media only screen and (max-width: 960px) {
  .slidecontainer {
    transform: rotate(90deg);
    position: absolute;
    left: 1vh;
    margin-top: 5vh;
  }
}

@media only screen and (max-width: 960px) {
  p {
    position: absolute;
    left: 22vw;
    top: 45vh;
  }
}

.slidecontainer {
  text-align: center;
}

@media only screen and (max-width: 960px) {
  .slider {
    transform: rotate();
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 500px;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    border-radius: 10px;
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
}

.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 500px;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  border-radius: 10px;
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


input[type='radio'],
label {
  vertical-align: baseline;
  padding: 10px;
  margin: 10px;
}

#answers {
  text-align: center;
  font-size: 50px;
}


/* Scorer Image Buttons */

@media only screen and (max-width: 960px) {
  #box2 .question {
    position: absolute;
    top: 5vh;
  }
}


/* HIDE RADIO */
#box2 [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
#box2 [type=radio]+img {
  cursor: pointer;
  height: 25vh;
  border-radius: 10px;
}

/* CHECKED STYLES */
#box2 [type=radio]:checked+img {
  border: 5px solid #f5e93d;
  ;
}

@media only screen and (max-width: 960px) {
  #hazard+ img  {
    position: absolute;
    top: 25vh;
    left: 31vw;
    max-width: 100%;
    max-height: 120px;
  }
}

@media only screen and (max-width: 960px) {
  #lampard+ img  {
    position: absolute;
    top: 50vh;
    left: 31vw;
    max-height: 120px;
  }
}

@media only screen and (max-width: 960px) {
  #drogba+ img  {
    position: absolute;
    top: 75vh;
    left: 31vw;
    max-height: 120px;
  }
}


.topscorer {
  display: flex;
  flex-direction: row;
}

/* Munich Input Styling */
input[type=text] {
  font-family: "Seagram";
  font-size: 50px;
  text-align: center;
  background-color: #064694;
  color: yellow;
  border: 5px solid yellow;
  border-radius: 5px;
  outline: none;
}

@media only screen and (max-width: 960px) {

} input[type=text] {
  font-family: "Seagram";
  font-size: 30px;
  text-align: center;
  background-color: #064694;
  color: yellow;
  border: 5px solid yellow;
  border-radius: 5px;
  outline: none;
  width: 80vw;
}


/* Mascot Question Styling */
#box4 label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 35px;
  text-align: center;
}

@media only screen and (max-width: 960px){
  #box4 label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 35px;
    text-align: center;
    width: 80vw;
    margin: 0;
    padding: 0;
  }
}

#box4 input[type="radio"] {
  display: none;
}

#box4 input[type="radio"]:checked+label {
  color: #f5e93d;
}

.nationality {
  display: flex;
  flex-wrap: wrap;
}

#box5 [type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
#box5 [type=checkbox]+img {
  cursor: pointer;
  height: 20vh;
  border-radius: 10px;
}

/* CHECKED STYLES */
#box5 [type=checkbox]:checked+img {
  border: 5px solid #f5e93d;
  ;
}

@media only screen and (max-width: 960px) {
  #box5 h3 {
    position: absolute;
    font-size: 4vh;
    top: 5vh;
    line-height: 5vh;
  }
}

@media only screen and (max-width: 960px) {
  #box5 .nationality {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15vh;
    max-height: 70vh;
    align-self: center;
  }

  @media only screen and (max-width: 960px) {
    #box5 img {
      max-height: 100px;
    }
  }