@font-face {
  font-family: "PeignotRegular";
  src: url("Peignot400.ttf");
}
.container{
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(300px);
  scroll-snap-type: y mandatory;
}


body {
  margin: 0;
  background-color: hsl(0, 0%, 90%);
  font-size: 30px;
  font-family: "PeignotRegular";
  font-weight: bold;
}

figure {
  margin: 0 0 1.5em 0;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
  transition: all .5s ease-in-out;
}

.card {
  top: 0;
  position: sticky;
  grid-column: full;
  scroll-snap-align: start;
}

#box1 {
  background: blue;
}

#box2 {
  background: skyblue;
}

#box3 {
  background: blue;
}

#box4 {
  background: skyblue;
}

#box5 {
  background: rgb(251, 255, 4);
}

#box6 {
  background: violet;
}

h2 {
  color: aliceblue;
  text-align: center;
}

p {
  color: aliceblue;
}

.slidecontainer {
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 500px;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type='radio'], label{   
  vertical-align: baseline;
  padding: 10px;
  margin: 10px;
}

#answers {
  text-align: center;
  font-size: 50px;
}